@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

.Home .ml1{
    background-color: #00000011;
    width: 95%;
    color: white;
    box-shadow:0px 2px 1px 1px rgba(69, 93, 74, 0.342);
}

.Home .ml1 a{
    color: white;
}

a{
    color: black;
    text-decoration: none;
}

.mainse{
    position: absolute;
    left: 250px;

}

.mainpeople{
    margin-top: 90px;
    margin-left: 80px;
    border-radius: 15px;
    background-color: #ffffff;
    height: 300px;
    width: 400px;
}
.mainpeople h3{
    font-size: 25pt;
    font-family: 'Do Hyeon', sans-serif;
    line-height: 70px;
    margin-left: 20px;
    text-decoration: underline;
}
.Home section{
    width: 100%;
}
.mainpeople h2{
    position: absolute;
    margin-bottom: 0px;
    font-size: 40pt;
    left: 260px;
    top:45px;
    text-decoration: underline;
}

.mainpeople h1{
    text-align: center;
    font-size: 60pt;
    margin-top: 0px;
}

.Home .mainage{
    margin-top: 90px;
    border-radius: 15px;
    position: absolute;
    background-color: white;
    left:57%;
    height: 300px;
    width: 600px;
}

.Home .maintextage h3{
    margin-top: 17px;
    font-size: 25pt;
    font-family: 'Do Hyeon', sans-serif;
    margin-left: 56px;
    text-decoration: underline;
}
.maintextage .countage{
    /*position: absolute;*/
    top:90px;
    left: -15px;
    margin-top: 0px;
    font-size: 150pt;
    font-weight: bolder;
    color: rgb(26, 45, 149); 
}

.Home .countageperone{
    position: absolute;
    margin-top: 0px;
    top: 60px;
    left: 200px;
    color:black;
    font-size: 70pt;
}

.Home .countagepertjs{
    position: absolute;
    margin-top: 0px;
    top:40px;
    left: 194px;
    font-size: 25pt;
}

.Home .countagepericon{
    position: absolute;
    margin-top: 0px;
    top:158px;
    left: 470px;
    font-size: 100pt;
    color:rgb(227, 240, 89);
    transform:rotate(90deg);
    -moz-transform: scaleX(-1); 
    -o-transform: scaleX(-1); 
    -webkit-transform: scaleX(-1); 
    transform: scaleX(-1); 
}

.Home .countageperchrild{/* 어린이 퍼센트*/
    position: absolute;
    font-size: 70pt;
    top:110px;
    left:300px;
}

.Home .countageperdjsl{
    position: absolute;
    font-size: 25pt;
    top:140px;
    left: 300px;
}

.maintextage h2{
    position: absolute;
    margin-top: 0px;
    font-size: 40pt;
    left: 10px;
    top:0px;
    text-decoration: underline;
}

.Home .maintime{
    position: absolute;
    font-family: 'Do Hyeon', sans-serif;
    top:420px;
    left: 327px;
    height: 280px;
    width: 1150px;
    background-color: white;
    border-radius: 15px;
}
.maintime-gra h3{
    position: absolute;
    margin-top: 0px;
    top:20px;
    left: 20px;
    font-size: 25pt;
    text-decoration-line: underline;
}

.maintimelogo{
    position: absolute;
    top:10px;
    left: 100px;
    margin-top: 0px;
    font-size: 40pt;
}

.timegraph{
    margin-top: 20px;
    position: absolute;
    top:50px;
    width: 1000; 
    height: 200;
}